<%= render 'books/sidebar', books: @books %>

<% @users.each do |user| %>

  <p>投稿ユーザー画像：<%= image_tag user.get_profile_image(100,100) %></p>
  <%= link_to user_path(user.id) do %>
  <p>Name：<%= user.name %></p>
  <% end %>
  <p>introduction：<%= user.introduction %></p>

<% end %>