<div class="row">
  <%= render 'books/sidebar', books: @books %>
  <div class="col-md-8 offset-md-1">
  <table class ="table table-hover">
    <thread>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Name</th>
        <th scope="col">Introduction</th>
        <th></th>
      </tr>
    </thread>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100,100) %></td>
        <td><p><%= user.name %></p></td>
        <td><%= user.introduction %></td>
        <td>
          <%= link_to user_path(user.id) do %>
          <p>Show</p>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  </div>
</div>