  <div class ="row">
    <div class="bg-light col-md-4 border rounded-lg pb-4 h-50">
      <div class ="p-2">
        <h2 class>User info</h2>
        <%= image_tag @user.get_profile_image(100,100) %>
        <table class="table table-bordered mt-2 bg-white ">
          <thread>
          <tr>
            <th>Name</th>
            <td><%= @user.name %></td>
          </tr>
          </thread>
          <thread>
          <tr>
            <th>Introduction</th>
            <td><%= @user.introduction %></td>
          </tr>
          </thread>
        </table>
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class: 'btn btn-secondary btn-block' do %>
          <i class="fa-solid fa-user-pen"></i><span>User edit</span>
          <% end %>
        <% end %>
        <% if @user != current_user %>
          <%= link_to users_path, class: 'btn btn-secondary btn-block' do %>
          <i class="fa-solid fa-user-pen"></i><span>User edit</span>
          <% end %>
        <% end %>
      </div>

      <h2>New book</h2>
      <%= form_with model: Book.new, url: books_path, scope: :book do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title, placeholder: "title" %>
        <h4>Opinion</h4>
        <%= f.text_area :body, placeholder: "Opinion", style: "width:100%" %><br>
        <div class="text-right mt-3"><%= f.submit 'Create Book', class: 'btn btn-primary' %></div>
      <% end %>
     </div>

     <div class ="col-md-7">
        <table class ="table">
          <thread>
          <tr>
            <th>User</th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
          </thread>
          <% @books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <%= link_to @user do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book.id) do %>
                <%= book.title %>
                <% end %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          </tbody>
          <% end %>
      </table>
    </div>
  </div>              <% current_user == @user %>
              <td><%= link_to </td>
              <% end %>
            </tr>
          </tbody>
          <% end %>
      </table>
    </div>
  </div>d %>
      </table>
    </div>
  </div>