  <div class ="row">
    <%= render 'books/sidebar', books: @books %>
     <div class ="col-md-7">
        <table class ="table">
          <thread>
          <tr>
            <th>User</th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
          </thread>
          <% @books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <%= link_to @user do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book.id) do %>
                <%= book.title %>
                <% end %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          </tbody>
          <% end %>
      </table>
    </div>
  </div>