<div class ="row justify-content-center">
  <div class ="col-md-8">
    <% if @book.errors.any? %>
    <div class= 'alert alert-warning'>
      Error occurred in<%= @book.errors.count %>case.
    </div>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

    <h2>Book Edit</h2>
    <%= form_with model: @book do |f| %>
    <label for="inputTitle">Title</label>
    <p><%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"Title" %></p>
    <label for="inputOpinion">Opinion</label>
    <p><%= f.text_area :body, id:"inputOpinion", placeholder:"Body", size: "50x5"  %></p>
    <%= f.submit "Update Book", class: 'btn btn-success' %>
    <%= link_to "Back", book_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>